.center{
  text-align: center;
  align-items: center;
}

table.center{
    margin-left:auto;
    margin-right:auto;
}

h1{
  font-size: 60px;
  font-weight: bolder;
}

h3{
  text-align: left;
}
html
{
  background: linear-gradient(darkblue, lightblue, lightcyan, white) no-repeat;
  font-family: "Roboto";
}
body{
  margin: 30px;
}
table.budget, th.budget, td.budget{
    border: 1px solid lightgray;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 15px;
}

table {
    border-spacing: 5px;
}

.button-link {
    height:60px;
    padding: 5px 10px;
    background: gray;
    color: lightblue;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px gray;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
.button-link:hover {
    background: darkgray;
    border: solid 1px gray;
    text-decoration: none;
}
