.center{
  text-align: center;
  align-items: center;
}

table.center{
    margin-left:auto;
    margin-right:auto;
}

h1{
  font-size: 60px;
  font-weight: bolder;
  background-color: ;
  padding: 15px;
  color: black;

}

h2{
  font-size:35px;
}

h3{
  text-align: left;
}
html{
  font-family: "Roboto";
  background-color: white;
}
body{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

table.budget, th.budget, td.budget{
    border: 1px solid lightgray;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 15px;
}

table {
    border-spacing: 5px;
}


/*a{
  text-decoration: none;
  color: black;
  text-decoration: none;
  background-color: #9dfbe0;
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}*/
