<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Previous Budgets</title>
  </head>
  <link rel="stylesheet" href="stylesheets/main.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <h1>{{user.username}}'s Budget History</h1>
  <body class="center">
    <br>
    <a class= "button" href="/">Return to Finances</a>
    <br>
    <br>
    <div>
      <table class="center" width = 75%>
        <tr>
          <th>Name: </th>
          <th>Start Date: </th>
          <th>To Spend: </th>
          <th>Amount Spent: </th>
        </tr>

        {% for budget in budgets %}
          <tr>
            <td>{{budget.name}}</td>
            <td>{{budget.date}}</td>
            <td>{{budget.amount}}</td>
            <td>{{remainingBalance}}</td>
            {% endfor %}
          </tr>
      </table>
    </div>
    <br>
  </body>
</html>
