<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Account History</title>
  </head>
  <link rel="stylesheet" href="stylesheets/main.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <h1>{{user.username}}'s Account History</h1>
  <body class="center">
    <br>
    <a class= "button" href="/">Return to Finances</a>
    <br>
    <br>
    <div>
      <table class="center" width = 75%>
        <tr>
          <th>Note: </th>
          <th>Item/Service: </th>
          <th>Cost: </th>
          <th>New Balance: </th>
        </tr>
      </table>
        {% for i in range(0, length)%}
          <p>Name: {{budgets[i].source_name}} &nbsp; Start amount: {{budgets[i].amount}}</p>
          <table class="center" width=75%>
            {% if items[i]%}
              {% for itemss in items[i] %}
                  <tr>
                    <th>{{itemss.note}}</th>
                    <th>{{itemss.item_name}}</th>
                    <th>{{itemss.cost}}</th>
                    <th>{{itemss.remaining_balance}}</th>
                    {% endfor %}
                  </tr>
                </table>
                {% endif %}
              {% endfor %}

    </div>
    <br>
  </body>
</html>
